<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574810934720-knq5cilli0bf7sfi5ufvibd5bbj17vdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574810934720-knq5cilli0bf7sfi5ufvibd5bbj17vdd</string>
	<key>API_KEY</key>
	<string>AIzaSyBAEC_h7GnnZdcIUsmNYyEsPyVpkRpBZuA</string>
	<key>GCM_SENDER_ID</key>
	<string>574810934720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.habit</string>
	<key>PROJECT_ID</key>
	<string>habits-nlw</string>
	<key>STORAGE_BUCKET</key>
	<string>habits-nlw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574810934720:ios:3e00f6b7a7d01d31b34c25</string>
</dict>
</plist>